.container{
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
    top: 200px;
    left: 200px;
}
.absolute{
    position: absolute;
    top: 200px;
}
body{
    height: 500vh;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
    top: 0;
}